<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neuroaces</title>
  <link rel="stylesheet" href="./style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comic+Relief&display=swap" rel="stylesheet">
</head>
<body>
  <header class="d-flex flex-wrap justify-content-center py-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span style="color:#006A71;">h</span>
       <img src="./assets/images/58493dcf-761f-46f6-9010-fcb7dda35679-removebg-preview.png" height="32" />
       <span style="color:#006A71;">h</span>
      <span class="fs-4" style="color: #48A6A7; font-size: larger;"> Neuroaces</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item" ><a href="#" class="nav-link " style="color:#F2EFE7;">Home</a></li>
      <li class="nav-item" ><a href="#" class="nav-link" style="color:#F2EFE7;">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link" style="color:#F2EFE7;">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link" style="color:#F2EFE7;">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link" style="color:#F2EFE7;">About</a></li>
    </ul>
  </header>
  <div class="hero-section">
  <h1 style="color: #48A6A7;";>
    Let’s heal, together.
  </h1>
  </div >



  <!------------------------------------------------------------------->

  <div class="info-section">
  <div class="card" style="width: 19rem;" id="card1">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 2rem;">WHY NEUROACES ?</h5>

      <p class="card-text" style="font-size: 22px;">"What the mind endures in childhood, the brain remembers for a lifetime — NeuroACES helps us cure those silent stories.”
     
    </div>
  </div>
   <div class="Benefits">
   <h2 style="color: #48A6A7;">Benefits</h2>
   <ul style="color: #48A6A7;">
      <li>Early Detection & Prevention</li>
      <li> Reducing Future Healthcare Costs</li>
      <li>Breaking Generational Cycles</li>
      <li>Personalized, Trauma-Informed Care</li>
      <li>Creating Resilient, Healthier Communities</li>
      <li> Validating Lived Experiences</li>
   </ul>
  </div>
  </div>

<!------------------------------------------------------------------->


  <div class="footer">

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
            <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Neuroaces, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/?flo=true" aria-label="Instagram"><img src="./assets/images/instagram.svg"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/" aria-label="Facebook"><img src="./assets/images/facebook.svg"></a></li>
        </ul>
      </footer>
    </div>


    
  </div>
  

  
</body>
</html>